/* Styling placholder */
.custom-placeholder::placeholder {
  opacity: 60%;
  font-size: 16px;
  vertical-align: auto;
  font-weight: medium;
}

/* srtyling selector options */
/* .box { */
  /* border: 1px solid #999; */
  /* font-size: 16px; */
  /* color: #9d9c9c; */
  /* opacity: 10%; */
/* } */

/* Styling button color red */
.btn-coustom {
  background-color: #db0406;
}
.btn-coustom:hover {
  background-color: #ff0000; /* change to the desired hover color */
}

/* height of button div */
.btnDiv {
  margin-top: 120px;
}


.custom-opacity {
  opacity: 43%; /* Change this value to adjust the opacity level */
  border: 1px solid rgb(153, 152, 152); 
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.custom-opacity box{
color: black;
}